<html>

<head>
    <meta charset="UTF-8">
    <title>Train your Brain</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="gameApp" ng-controller="ctrl as ctrl">
    <div class="container main">
        <h1>Train your brain with this game</h1>
        <p>Game description .....</p>
        <p>Level:{{ctrl.level}} Score={{ctrl.score}} Total : {{ctrl.toBeFound}} Found:{{ctrl.found}}</p>
        <button type="button" class="btn btn-primary" ng-click="ctrl.beginLevel()" ng-disabled=" ctrl.disableButton ">Show</button>
        <div class="row ">
            <table class="table table-bordered grid ">
                <tr ng-repeat="row in ctrl.grid ">
                    <td ng-repeat="cell in row track by $index ">
                        <button type="button " 
                        ng-class="{'btn btn-primary btn-lg': cell.win,
                                       'btn btn-danger btn-lg': cell.lose,
                                       'btn btn-default btn-lg': !cell.win && !cell.lose}" 
                        ng-click="ctrl.checkCell(cell)">

                            <span ng-class="{'glyphicon glyphicon-unchecked': !cell.chosen, 'glyphicon glyphicon-ok': cell.win, 'glyphicon glyphicon-remove': cell.lose}"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="js/script.js "></script>
</body>

</html>
