<html>

<head>
    <meta charset="UTF-8">
    <title>Train your Brain</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="gameApp" ng-controller="ctrl as ctrl">
    <div class="container main">
        <h1>Train your brain with this game</h1>
        <p>Game description .....</p>
        <div class="row">
            <table class="table table-bordered grid">
                <tr ng-repeat="row in ctrl.grid">
                    <td ng-repeat="cell in row track by $index">
                        <button type="button"
                            ng-class="{'btn btn-primary btn-lg': cell.isMarked,
                                       'btn btn-default btn-lg': !cell.isMarked }">
                            <span ng-class="{'glyphicon glyphicon-unchecked': !cell.isMarked, 'glyphicon glyphicon-ok': cell.isMarked}"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>
